{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>QR code</title>
    <script src="{% static 'js/qrcode.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/event_qr.css' %}">
</head>
<body>
<a href="{{ path }}">BACK</a>
<div id="qrcode"></div>
<script type="text/javascript" >
new QRCode(document.getElementById("qrcode"), "{{ path }}");

</script>
<script>

function ImagetoPrint(source){
    return "<html><head><scri"+"pt>function step1(){\n" +
            "setTimeout('step2()', 10);}\n" +
            "function step2(){window.print();window.close()}\n" +
            "</scri" + "pt></head><body onload='step1()'>\n" +
            "<img src='" + source + "' /></body></html>";
}

function PrintImage(){
    let source = document.getElementById('qrcode').getElementsByTagName('img')[0].src;
    let Pagelink = "about:blank";
    let pwa = window.open(Pagelink, "_new");
    pwa.document.open();
    pwa.document.write(ImagetoPrint(source));
    pwa.document.close();
}
</script>

<a href="#" onclick="PrintImage(); return false;">PRINT</a>

</body>
</html>