{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
</head>
<body>

<div class="grid-container">
    <div class="grid-head">
        <div class="event-name"></div>
    </div>
    <div class="grid-body">
        <div class="photos">photos</div>
        <div class="description">event description</div>
    </div>
    <div class="grid-foot">

        {% for event in events %}
        <div class="event-icon">
             <a href="/event/{{ event.id }}">{{ event.name }}</a>
        </div>
    {% endfor %}
    </div>
</div>

</body>
</html>