body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    border: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#qrcode{
    padding: 10px;
    border: 10px solid black;
}

a{
    margin: 10px;
    font-size: 20px;
    font-family: monospace;
    padding: 15px;
    background: grey;
    border-radius: 25px;
    width: 80px;
    display: flex;
    justify-content: center;
}

a:link {
    color: black;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: black;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: black;
    text-decoration: none;
}

/* selected link */
a:active {
    color: black;
    text-decoration: none;
}