body{
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    height: 100vh;
}

#presentation-mode-off{
    width: 100%;
    display: grid;
    grid-template-rows: 10vh auto;
}

.header{
    background: white;
    height: 10vh;
    /*width: 100%;*/
    /*display: flex;*/
    /*flex-direction: row;*/
    /*justify-content: right;*/
    /*align-items: center;*/
    position: sticky;
    top: 0;
    display: grid;
    grid-template-areas: 'left middle right';
    grid-template-columns: 2fr 3fr 2fr;
    border-bottom: 1px solid black;
}

.header_left{
    grid-area: left;
    display: flex;
    justify-content: left;
    align-items: center;
}
.header_middle{
    grid-area: middle;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header_right{
    grid-area: right;
    display: flex;
    justify-content: right;
    align-items: center;
    margin-right: 10px;
}

.body{
    width: 100%;
}

.image_row_left{
    width: 100%;
    height: auto;

    display: grid;
    grid-template-areas: 'image description';
    grid-template-columns: 3fr 2fr;
}

.image_row_right{
    width: 100%;
    height: auto;

    display: grid;
    grid-template-areas: 'description image';
    grid-template-columns: 2fr 3fr;
}

.image_row_image{
    grid-area: image;
    height: inherit;
}
img{
    height: inherit;
}

.image_row_description{
    grid-area: description;
    display: flex;
    justify-content: center;
    align-items: center;
}

.description_text{
    padding: 110px;
    font-size: 18px;
    font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;
}

.image_row_right>.image_row_image{
    display: flex;
    justify-content: right;
}

.image_row_right>.image_row_image>img{
    width: 60vw;
}

.image_row_left>.image_row_image>img{
    width: 60vw;
    height: auto;
}

.description_text{
    font-size: 18px;
    font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;
}

#presentation-mode{
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
}

.image_presentation{
    max-width: 100vw;
    max-height: 100vh;
}

.header_name{
    font-size: 30px;
    font-family: "Trebuchet MS";
}